<h1 style="background-color:black;
text-align: center;
font-size: 54px;
color: #ffffff;
padding: 50px;
margin: 50px;">Edit Listing</h1>

<div class="edit">
<form action="/cars/buy/<%=cars.id%>?_method=PUT" method='POST'>
    <div class="edit-container">
        <input type="text" name="image" id='image' value="<%=cars.image%>">
        <label>Image</label>
    </div>    

    <div class="edit-container">
        <input type="text" name="make" id='make' value="<%=cars.make%>">
        <label>Make</label>
    </div>    

    <div class="edit-container">
        <input type="text" name="model" id='model' value="<%=cars.model%>">
        <label>Model</label>
    </div>    

    <div class="edit-container">
        <input type="text" name="year" id="year" value="<%=cars.year%>">
        <label>Year</label>
    </div>

        <input type="submit" value='Edit' style="cursor: pointer; color: #fff; font-size: 16px; letter-spacing: 2px; padding: 10px 30px; border-radius: 5px; background: rgba(117, 39, 39, 0.363);">

</form>
</div>